body {
    background-color: rgb(245, 228, 207);
    color: rgb(24, 22, 22);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
